 @model webappPC1.Models.Alumno



 <strong><h1 align="center" >@ViewData["Message"]</h1></strong>

<h06 >@ViewData["Message00"]</h6> <br>
<h06 >@ViewData["Message01"]</h6> <br>
<h06 >@ViewData["Message02"]</h6> <br>
<h06 >@ViewData["Message03"]</h6> <br>
<h06 >@ViewData["Message04"]</h6> <br>
<h06 >@ViewData["Message05"]</h6> <br>
<h06 >@ViewData["Message06"]</h6> <br>
<h06 >@ViewData["Message07"]</h6> <br>

